/*! Buttons */
/* ==========================================================================*/
/*
 * Custom Milligram Hillside v1.2
 * Based on Milligram v1.4.1 - https://milligram.io
*/
.buttons {
    display: block;
}

.button {
    background: var(--bg-primary);
    border: 0.15rem solid var(--font-primary);
    color: var(--font-primary);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    height: 5rem;
    letter-spacing: 0.01rem;
    line-height: 5rem;
    border-radius: 2.5rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.button:focus,
.button:hover {
    outline: 0;
    color: var(--bg-primary);
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.button[disabled] {
    cursor: default;
    opacity: .5;
}

.button[disabled]:focus,
.button[disabled]:hover {
    color: var(--cta-primary);
}

/* .button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
    background-color: transparent;
    color: var(--font-primary);
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
    background-color: transparent;
    border-color: var(--secondary);
    color: var(--font-tertiary);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
    border-color: inherit;
    color: var(--font-tertiary);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    background-color: transparent;
    border-color: transparent;
    color: var(--cta-primary);
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--font-primary);
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
    color:  var(--font-primary);
} */

/* Small */
.button-small {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2.4rem;
}

/* Large */
.button-large {
    font-size: 2.4rem;
    height: 5.2rem;
    line-height: 5.2rem;
    padding: 0 2.4rem;
}

