/*! Buttons */
/* ==========================================================================*/
/*
 * Custom Milligram Hillside v1.2
 * Based on Milligram v1.4.1 - https://milligram.io
*/
.buttons {
    display: block;
}

.button {
    background: transparent;
    border: 0.1rem solid var(--font-color);
    color: var(--font-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    white-space:  normal;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.01rem;
    border-radius: 2rem;
    padding: 0.7rem 2.3rem;
    position: relative;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.button:focus,
.button:hover {
    color: var(--absolute-color);
    border-color: var(--absolute-color);
    text-decoration: none;
}

.button:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.6rem;
    left: 0.6rem;
    border-radius: 2rem;
    transition: 0.5s;
    background-color: transparent;
    opacity: 0.8;
}

.button:focus:after,
.button:hover:after {
    top: 0;
    left: 0;
    background-color: var(--primary-color);
}

.button:focus-visible,
.button:focus-visible::after {
    border-radius: 0.2rem;
    background-color: var(--absolute-color-alt);
}

.button[disabled] {
    cursor: default;
    opacity: .5;
}

.button[disabled]:focus,
.button[disabled]:hover {
    color: var(--cta-primary);
}

/* .button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
    background-color: transparent;
    color: var(--font-primary);
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
    background-color: transparent;
    border-color: var(--secondary);
    color: var(--font-tertiary);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
    border-color: inherit;
    color: var(--font-tertiary);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    background-color: transparent;
    border-color: transparent;
    color: var(--cta-primary);
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--font-primary);
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
    color:  var(--font-primary);
} */

/* Small */
.button-small {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2.4rem;
}

/* Large */
.button-large {
    font-size: 2.4rem;
    height: 5.2rem;
    line-height: 5.2rem;
    padding: 0 2.4rem;
}

