/*! Buttons */
/* ==========================================================================*/
/*
 * Custom Milligram Hillside v1.2
 * Based on Milligram v1.4.1 - https://milligram.io
*/
.buttons {
    display: block;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background: var(--bg-primary);
    border: 0.15rem solid var(--font-primary);
    color: var(--font-primary);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    height: 5rem;
    letter-spacing: 0.01rem;
    line-height: 5rem;
    border-radius: 2.5rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
    outline: 0;
    color: var(--bg-primary);
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
    cursor: default;
    opacity: .5;
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
    color: var(--cta-primary);
}

/* .button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
    background-color: transparent;
    color: var(--font-primary);
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
    background-color: transparent;
    border-color: var(--secondary);
    color: var(--font-tertiary);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
    border-color: inherit;
    color: var(--font-tertiary);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    background-color: transparent;
    border-color: transparent;
    color: var(--cta-primary);
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--font-primary);
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
    color:  var(--font-primary);
} */

/* Small */
.button-small {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2.4rem;
}

/* Large */
.button-large {
    font-size: 2.4rem;
    height: 5.2rem;
    line-height: 5.2rem;
    padding: 0 2.4rem;
}

/* Button gradient */
.button.button-gradient {
    background-color: var(--bg-secondary);
    background-image: var(--tweed-gradient);
    border-color: var(--font-primary);
    color: var(--bg-primary);
    border-radius: 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    height: 6.8rem;
    line-height: 6.8rem;
    letter-spacing: 0.1rem;
    position: relative;
    -webkit-backface-visibility: hidden;
    z-index: 1;
}

button.button-gradient,
input[type='button'].button-gradient,
input[type='reset'].button-gradient,
input[type='submit'].button-gradient,
input[type='submit'] {
    background: var(--tweed-gradient);
    color: var(--bg-primary);
    border-radius: 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    height: 6.8rem;
    line-height: 6.8rem;
    letter-spacing: 0.1rem;
    position: relative;
    -webkit-backface-visibility: hidden;
}

.button.button-gradient::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-image: var(--tweed-gradient-2);
    transition: opacity 0.5s ease-out;
    z-index: 2;
    opacity: 0;
}

.button.button-gradient:focus,
.button.button-gradient:hover {
    background-color: var(--bg-secondary);
    background-image: var(--tweed-gradient);
    border-color: var(--font-primary);
    color: var(--bg-primary);
}

button.button-gradient:focus,
button.button-gradient:hover,
input[type='button'].button-gradient:focus,
input[type='button'].button-gradient:hover,
input[type='reset'].button-gradient:focus,
input[type='reset'].button-gradient:hover,
input[type='submit'].button-gradient:focus,
input[type='submit'].button-gradient:hover,
input[type='submit']:focus,
input[type='submit']:hover {
    background: var(--tweed-gradient-2);
}

.button.button-gradient:hover::after {
    opacity: 1;
}

.button.button-gradient span {
    position: relative;
    z-index: 3;
}

/* Button wave */
.button.button-wave {
    background-color: var(--primary);
    background-image: var(--tweed-gradient);
    border-color: var(--font-primary);
    color: var(--bg-primary);
    border-radius: 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    height: 6.8rem;
    line-height: 6.8rem;
    letter-spacing: 0.1rem;
    position: relative;
    -webkit-backface-visibility: hidden;
    z-index: 1;
}

@media screen and (max-width: 414px) {

    .button.button-wave {
        padding: 0 1.5rem;
    }
}

.button.button-wave::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: -0.15rem;
    left: -0.8rem;
    right: auto;
    background-color: transparent;
    border-top: 0.15rem solid var(--font-primary);
    border-bottom: 0.15rem solid var(--font-primary);
    width: 0.8rem;
    height: 6.8rem;
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.6 68'%3E%3Cpath d='M8.6 68V0h-.8C4.7 2 1.2 7 1.1 11.2s1.1 4.4 2.7 6.4 3.3 4.3 3.6 7.8c.2 2.9-.7 4.7-1.6 6.6-.9 1.9-1.9 3.8-1.9 6.9 0 2.7.8 4.2 1.7 6 .6 1.3 1.4 2.7 1.9 4.7 1.3 5.3.6 11.3-2.6 18.4h3.9Z' fill='%237d9a36'/%3E%3Cpath d='M5.6 44.9C4.7 43.1 3.9 41.6 4 39c0-3.1 1-5 1.9-6.9 1-1.9 1.9-3.8 1.6-6.7-.3-3.6-2-5.9-3.6-7.9-1.5-2-2.9-3.7-2.7-6.2C1.5 7.7 4.7 2.8 7.1 1l1.3-1H6.5l-.8.7C3.2 2.9.4 7.5 0 11.1c-.2 3 1.3 5 2.9 7 1.5 2 3.1 4.1 3.4 7.3.2 2.6-.6 4.3-1.5 6.1-.9 1.9-2 4-2 7.4 0 2.9.8 4.6 1.8 6.5.6 1.3 1.3 2.6 1.8 4.5 1.3 5.1.5 10.9-2.3 17.2v.2l-.3.6H5l.4-1c2.7-6.4 3.4-12.2 2.1-17.4-.5-2-1.2-3.5-1.9-4.7Z' fill='%23111'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 0;
    z-index: 2;
}

.button.button-wave:focus,
.button.button-wave:hover {
    background-color: var(--primary);
    background-image: none;
}

/* Link with arrow */
.link-arrow {
    font-size: 2.4rem;
    display: inline-flex;
    padding: 0 0.1rem;
}

.link-arrow.link-arrow-small {
    font-size: 1.8rem;
}

.link-arrow::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    margin: auto 0 -0.3rem 0;
    transform: translateX(0);
    
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTUgMTcuNTlMMTUuNTkgN0g5VjVoMTB2MTBoLTJWOC40MUw2LjQxIDE5eiIvPjwvc3ZnPg==");
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTUgMTcuNTlMMTUuNTkgN0g5VjVoMTB2MTBoLTJWOC40MUw2LjQxIDE5eiIvPjwvc3ZnPg==");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 4rem 4rem;
    mask-size: 4rem 4rem;
    -webkit-mask-position: center center;
    mask-position: center center;
    background-color: var(--secondary);
    
    -webkit-transition-property: transform, background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-property: transform, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.link-arrow.link-arrow.link-arrow-small::after {
    width: 3.2rem;
    height: 3.2rem;
    
    -webkit-mask-size: 3.2rem 3.2rem;
    mask-size: 3.2rem 3.2rem;
}

.link-arrow:hover::after {
    transform: translate(0.2rem, -0.2rem);
}
