/*! General */
/* ==========================================================================*/

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: var(--absolute-color);
    background-color: var(--bg-color);
	font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.7;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
	border: 10px solid var(--secondary-color);
}

h1, h2, h3, h4 {
	font-weight: normal;
}

a,
a:visited {
    color: var(--primary-color);
}

dl {
    margin: 1em auto 1em;
    font-size: 1.050em;
    line-height: 1.7;
}

dt {
    margin-top: 1em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.95em;
}

dd {
    margin-bottom: 1em;
    margin-left: 0;
}


/* Lazyload fade image in after load */
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.5s;
}
/* end fade image */

/* Theme switcher */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
    position: absolute;
    top: 1.95em;
    right: 1.95em;
    left: auto;
    bottom: auto;
    z-index: 9;

    em {
        margin: 6px auto;
        font-size: 0.7em;
        color: var(--font-color);
        width: 32px;
        display: none;
    }
}

.theme-switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 22px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--bg-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--font-color);
    bottom: 1px;
    content: "";
    height: 20px;
    left: 1px;
    position: absolute;
    transition: .4s;
    width: 20px;
}

input:checked + .slider {
    background-color: var(--font-color);
}

.slider.round {
    border-radius: 20px;
    border-radius: 0;
}

.slider.round:before {
    border-radius: 50%;
    border-radius: 0;
}

@media screen and (max-width: 600px) {
    .theme-switch-wrapper em {
        display: none;
    }
}


/* Loader */
.loader-body {
	width: 100%;
	height: 100vh;
	background-color: var(--bg-color); /*Here you can change background color of the loader */
    outline: 16px solid var(--secondary-color);
    outline-offset: -16px;
	position: fixed;
	z-index: 11;
	visibility: visible;
	top: 0;
	left: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	transition: 2s all;
}

.loader {
	width: 100px;
	height: 100px;
    background-color: var(--secondary-color);
	border: 0;
	border-radius: 50%;
    content: 'ny';
    color: var(--bg-color);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	-webkit-animation: 2s pulse infinite linear;
	-o-animation: 2s pulse infinite linear;
	animation: 2s pulse infinite linear;
}

.loader::before {
    content: 'ny';
    line-height: 80px;
    font-size: 100px;
    font-style: italic;
    letter-spacing: -0.025em;
    margin-left: 6px;
}

.loader-body.done {
	visibility: hidden;
	opacity: 0;
}

@keyframes pulse {
	0% {
		transform: translate(-50%, -50%);
        opacity: 0.3;
	}
	80% {
		transform: translate(-50%, -50%);
        ; opacity: 1;
	}
    100% {
		transform: translate(-50%, -50%);
        ; opacity: 0.3;
	}
}

/* Footer */
.subfooter {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 6em 0 0;
    font-size: 0.75em;
    justify-content: left;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.05em;
}

.subfooter li {
    margin: 0 0.5em;
}

.subfooter a {
    color: var(--font-color);
    border-bottom: 1px dotted var(--font-color);
    text-decoration: none;
    margin: 0 0.5em;
    padding: 0.25em 0;
}

.subfooter a:hover,
.subfooter a:focus {
    border-bottom-color: transparent;
}
