/*! Grids */
/* ==========================================================================*/
/*
 * Custom Milligram Hillside v1.2
 * Based on Milligram v1.4.1 - https://milligram.io
*/

/* Container widths & paddings */
:root {
    --container-x-narrow-width: 728px;
    --container-narrow-width: 976px;
    --container-width: 1224px;
    --container-wide-width: 1440px;
    --container-x-wide-width: 1720px;
    
    --container-padding-x-short: 2rem;
    --container-padding-short: 4rem;
    --container-padding: 8rem;
    --container-padding-long: 12rem;
    --container-padding-none: 0;
}

.wrapper {
    display: block;
    /* overflow: hidden; */
    /* Needed to remove overflow: hidden from .wrapper 
    so to get position: sticky to work on .grid-wrapper
    https://stackoverflow.com/questions/43707076/how-does-the-position-sticky-property-work */
    position: relative;
    width: 100%;
}

.wrapper .container {
    max-width: var(--container-width);
}

.wrapper .container.container-x-narrow {
    max-width: var(--container-x-narrow-width);
}

.wrapper .container.container-narrow {
    max-width: var(--container-narrow-width);
}

.wrapper .container.container-wide {
    max-width: var(--container-wide-width);
}

.wrapper .container.container-x-wide {
    max-width: var(--container-x-wide-width);
}

.wrapper .container.container-full {
    max-width: 100%;
    /* padding: 0 3rem; */
}

.wrapper .container {
    padding-top: var(--container-padding);
	padding-bottom: var(--container-padding);
	
	@media screen and (max-width: 600px) {
		padding-top: var(--container-padding-short);
		padding-bottom: var(--container-padding-short);
	}
}

.wrapper .container.padding-long {
    padding-top: var(--container-padding-long);
	padding-bottom: var(--container-padding-long);
	
	@media screen and (max-width: 600px) {
		padding-top: var(--container-padding);
		padding-bottom: var(--container-padding);
	}
}

.wrapper .container.padding-short {
    padding-top: var(--container-padding-short);
	padding-bottom: var(--container-padding-short);
	
	@media screen and (max-width: 600px) {
		padding-top: var(--container-padding-x-short);
		padding-bottom: var(--container-padding-x-short);
	}
}

.wrapper .container.padding-top-none {
    padding-top: var(--container-padding-none);
    
    @media screen and (max-width: 600px) {
		padding-top: var(--container-padding-none);
	}
}

.wrapper .container.padding-bottom-none {
	padding-bottom: var(--container-padding-none);
    
    @media screen and (max-width: 600px) {
		padding-bottom: var(--container-padding-none);
	}
}

.wrapper .container-footer {
    padding-top: 4rem;
	padding-bottom: 1.4rem;
	
	@media screen and (max-width: 768px) {
		padding-top: 4.6rem;
		padding-bottom: 2rem;
        text-align: center;
	}
}

.container {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.row.reverse {
    flex-direction: column-reverse;
}

.row.row-no-padding {
    padding: 0;
}

.row.row-no-padding > .column {
    padding: 0;
}

.row.row-wrap {
    flex-wrap: wrap;
}

.row.row-top {
    align-items: flex-start;
}

.row.row-bottom {
    align-items: flex-end;
}

.row.row-center {
    align-items: center;
}

.row.row-stretch {
    align-items: stretch;
}

.row.row-baseline {
    align-items: baseline;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row .column.column-4,
.row .column.column-5,
.row .column.column-7,
.row .column.column-10,
.row .column.column-20,
.row .column.column-25,
.row .column.column-28,
.row .column.column-30,
.row .column.column-33,
.row .column.column-34,
.row .column.column-40,
.row .column.column-45,
.row .column.column-50,
.row .column.column-60,
.row .column.column-66,
.row .column.column-67,
.row .column.column-70,
.row .column.column-75,
.row .column.column-80,
.row .column.column-90 {
    max-width: 100%;
}

.row .column.column-offset-2,
.row .column.column-offset-3,
.row .column.column-offset-4,
.row .column.column-offset-5,
.row .column.column-offset-6,
.row .column.column-offset-10,
.row .column.column-offset-20,
.row .column.column-offset-25,
.row .column.column-offset-33,
.row .column.column-offset-34,
.row .column.column-offset-40,
.row .column.column-offset-50,
.row .column.column-offset-60,
.row .column.column-offset-66,
.row .column.column-offset-67,
.row .column.column-offset-75,
.row .column.column-offset-80,
.row .column.column-offset-90 {
    margin-left: 0;
}

/* Offset right */
.row .column.column-offset-right-40,
.row .column.column-offset-right-50,
.row .column.column-offset-right-60 {
    margin-right: 0;
}

.row .column .column-top {
    align-self: flex-start;
}

.row .column .column-bottom {
    align-self: flex-end;
}

.row .column .column-center {
    align-self: center;
}

@media (min-width: 769px) {
    
    .row {
        flex-direction: row;
        margin-left: -1.0rem;
        width: calc(100% + 2.0rem);
    }

    .row .column {
        margin-bottom: inherit;
        padding: 0 1.0rem;
    }
    
    .row .column.column-4 {
        flex: 0 0 4%;
        max-width: 4%;
    }
    
    .row .column.column-5 {
        flex: 0 0 5%;
        max-width: 5%;
    }

    .row .column.column-7 {
        flex: 0 0 7%;
        max-width: 7%;
    }
    
    .row .column.column-10 {
        flex: 0 0 10%;
        max-width: 10%;
    }

    .row .column.column-20 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row .column.column-25 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .row .column.column-28 {
        flex: 0 0 28%;
        max-width: 28%;
    }
    
    .row .column.column-30 {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .row .column.column-33,
    .row .column.column-34 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .row .column.column-40 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    
    .row .column.column-45 {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .row .column.column-50 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .column.column-60 {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .row .column.column-66,
    .row .column.column-67 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }

    .row .column.column-70 {
        flex: 0 0 70%;
        max-width: 70%;
    }
    
    .row .column.column-75 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .column.column-80 {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .row .column.column-90 {
        flex: 0 0 90%;
        max-width: 90%;
    }
    
    .row .column.column-offset-2 {
        margin-left: 2%;
    }

    .row .column.column-offset-3 {
        margin-left: 3%;
    }
    
    .row .column.column-offset-4 {
        margin-left: 4%;
    }
    
    .row .column.column-offset-5 {
        margin-left: 5%;
    }
    
    .row .column.column-offset-6 {
        margin-left: 6%;
    }
    
    .row .column.column-offset-10 {
        margin-left: 10%;
    }

    .row .column.column-offset-20 {
        margin-left: 20%;
    }

    .row .column.column-offset-25 {
        margin-left: 25%;
    }

    .row .column.column-offset-33,
    .row .column.column-offset-34 {
        margin-left: 33.3333%;
    }

    .row .column.column-offset-40 {
        margin-left: 40%;
    }

    .row .column.column-offset-50 {
        margin-left: 50%;
    }

    .row .column.column-offset-60 {
        margin-left: 60%;
    }

    .row .column.column-offset-66,
    .row .column.column-offset-67 {
        margin-left: 66.6666%;
    }

    .row .column.column-offset-75 {
        margin-left: 75%;
    }

    .row .column.column-offset-80 {
        margin-left: 80%;
    }

    .row .column.column-offset-90 {
        margin-left: 90%;
    }
    
    /* Offset right */
    .row .column.column-offset-right-40 {
        margin-right: 40%;
    }

    .row .column.column-offset-right-50 {
        margin-right: 50%;
    }

    .row .column.column-offset-right-60 {
        margin-right: 60%;
    }
}

.container-footer .row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.container-footer .row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 1025px) {
    
    .container-footer .row {
        flex-direction: row;
        margin-left: -1.0rem;
        width: calc(100% + 2.0rem);
    }
}

@media (min-width: 1025px) {
    
    .container-footer .row .column {
        margin-bottom: inherit;
        padding: 0 1.0rem;
    }
}

/* Display Grid layout */
.grid-sidebar {
    grid-area: sidebar;
    position: sticky;
    /* Needed to remove overflow: hidden from .wrapper 
    so to get position: sticky to work 
    https://stackoverflow.com/questions/43707076/how-does-the-position-sticky-property-work */
    top: 10rem;
    align-self: start;
    padding: 2rem 4.8rem 2rem 0;

    /* background-color: aqua; */
}

.grid-content {
    grid-area: content;
    padding: 0 0 0 2rem;
    border-left: 0.15rem solid var(--font-primary);

    /* background-color: bisque; */
}

.grid-border {
    grid-area: border;
    position: relative;
}

.grid-border::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    background-color: var(--font-primary);
}

.grid-wrapper.grid-wrapper-full .grid-border::before {
    width: 200%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 30% minmax(auto, 1040px);
    grid-template-areas:
        "border border"
        "sidebar content";

    grid-gap: 2rem;
    margin: 2rem auto 2rem 1rem;
}

.grid-wrapper.grid-wrapper-full {
    grid-template-columns: 30% auto;
}

.grid-wrapper.grid-wrapper-single {
    grid-template-columns: auto;
    grid-template-areas:
        "border border"
        "content content";
}

@media screen and (max-width: 1024px) {

    .grid-wrapper,
    .grid-wrapper.grid-wrapper-full {
        grid-template-columns: 50% minmax(auto, 1040px);
    }
}

@media screen and (max-width: 768px) {

    .grid-wrapper,
    .grid-wrapper.grid-wrapper-full {
        grid-template-columns: 100%;
        grid-template-areas:
            "border"
            "sidebar"
            "content";
        margin: 2rem auto;
    }

    .grid-sidebar {
        top: 0;
        position: relative;
    }

    .grid-content {
        padding: 0;
        border-left: none;
    }
}

.grid-wrapper.grid-wrapper-single .grid-content {
    padding: 0;
    border-left: none;
}

.grid-wrapper.grid-wrapper-alt .grid-content {
    padding: 2rem 0 0 0;
    border-left: none;
}

.grid-wrapper.grid-wrapper-alt .grid-content img {
    margin-bottom: 4rem;
}