/*! Header */
/* ==========================================================================*/

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.logo {
    width: 50px;
    height: 50px;
}
