/*! Helpers */
/* ==========================================================================*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
}

.label-inline {
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Text*/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-large {
    font-size: 2.4rem;
    line-height: 1.3;
}

@media screen and (max-width: 480px) {
    
    .text-large {
        font-size: 2rem;
    }
}

/* Images */
.img-rounded {
    display: block;
    border-radius: 1.8rem;
}

.single-post .img-rounded {
    margin-bottom: 2.4rem;
}

/* Utilities*/
.bg-hightlight {
    background-color: var(--hgl-secondary);
}

/* Skip to main content */
.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    font-size: 1.6rem;
    background: var(--secondary);
    color: var(--font-primary);
    padding: 1rem;
	z-index: 999;
}

.skip-link:focus {
    top: 0;
}

/* Divider */
.divider {
    height: 100%;
    border-right: 0.15rem solid var(--font-primary);
}

/* Back to top */
.top-link {
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 18px 18px 0;
    border-radius: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}

.top-link.hide {
    visibility: hidden;
    opacity: 0;
}

.top-link svg {
    fill: var(--absolute-color);
    width: 26px;
    height: 13px;
}

.top-link:hover {
    background-color: var(--font-color);
}

.top-link:hover svg {
    fill: var(--bg-color);
}
