/*! Variables */
/* ==========================================================================*/

/* Colors
  ============ */
:root {
    --bg-color: #F5F5F5;
    --font-color: #1F1F1F;
    --primary-color: #FFC547;
    --secondary-color: #786877;
    --absolute-color: #000000;
    --absolute-color-alt: #FFFFFF;
    --transparent-color: rgba(224, 224, 224, 0.95);
}

.dark-theme {
    --bg-color: #1F1F1F;
    --font-color: #F5F5F5;
    --primary-color: #D59200;
    --secondary-color: #958594;
    --absolute-color: #FFFFFF;
    --absolute-color-alt: #000000;
    --transparent-color: rgba(31, 31, 31, 0.95);
}

.high-contrast {
    --bg-color: #FFFFFF;
    --font-color: #000000;
    --primary-color: #FFB006;
    --secondary-color: #4A3D49;
    --absolute-color: #000000;
    --absolute-color-alt: #FFFFFF;
    --transparent-color: rgba(255, 255, 255, 0.95);
}

.high-contrast img {
    -webkit-filter: contrast(1.5);
    filter: contrast(1.5)
}

.greyscale {
    --bg-color: #F5F5F5;
    --font-color: #1F1F1F;
    --primary-color: #BFBFBF;
    --secondary-color: #6E6E6E;
    --absolute-color: #000000;
    --absolute-color-alt: #FFFFFF;
    --transparent-color: rgba(224, 224, 224, 0.95);
}

.greyscale img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

/* 29/08/2019 */
/* Nova proposta trobada a https://www.colorinspire.io/ (pendent d'aplicar) */
/* // @yellow: #FFBD2A;
// @white: #FFFFFF;
// @blue: #1A4B76; */

/* Font size */
:root {
    --body-font-size-md: 1.9rem;
    --body-font-size-lg: 2.1rem;
    --body-font-size-xl: 2.8rem;

    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-base: 1.6rem;
    --font-size-md: 1.8rem;
    --font-size-ml: 2.3rem;
    --font-size-lg: 3.1rem;
    --font-size-xl: 4.2rem;
    --font-size-xxl: 5.8rem;
    --font-size-xxxl: 8.6rem;
}

/* Tablet (landscape) / Small laptop */
@media screen and (max-width: 992px) {
    :root {
        --body-font-size-md: 1.8rem;
        --body-font-size-lg: 1.9rem;
        --body-font-size-xl: 2.5rem;

        --font-size-sm: 1.3rem;
        --font-size-base: 1.5rem;
        --font-size-md: 1.7rem;
        --font-size-ml: 2.2rem;
        --font-size-lg: 2.9rem;
        --font-size-xl: 3.7rem;
        --font-size-xxl: 4.9rem;
        --font-size-xxxl: 6.6rem;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    :root {
        --body-font-size-md: 1.7rem;
        --body-font-size-lg: 1.8rem;
        --body-font-size-xl: 2.2rem;

        --font-size-base: 1.4rem;
        --font-size-md: 1.6rem;
        --font-size-ml: 2.1rem;
        --font-size-lg: 2.6rem;
        --font-size-xl: 3.2rem;
        --font-size-xxl: 3.9rem;
        --font-size-xxxl: 5.0rem;
    }
}
